
body{
    /*background: #2B3467;*/
  }
  
  .navbar{
    padding: 1% 15%;
  }
  
  /*.navar-brand{
    padding: 3% 15%;
  }*/
  
  .navbar-brand{
    display: block;
    font-size: 2.5rem;
    font-weight: 00;
    letter-spacing: 5px;
    animation: moveInLeft 2s ease-out;
    animation-iteration-count: 1;
    font-family: "Montserrat", sans-serif;
  }
  
  @keyframes moveInLeft {
    from {color: blue;}
    to {color: orange;}
  
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
  
    80% {
      transform: translateX(0px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  .nav-item{
    display: block;
    font-size: 1.5rem;
    font-weight: 00;
    letter-spacing: 3px;
    animation: moveInRight 2s ease-out;
    animation-iteration-count: 1;
    font-family: "Montserrat-light", sans-serif;
  }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
  
    80% {
      transform: translateX(-10px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
  }
}
